@page
@model BookListRazor.Pages.BookList.CreateModel



<br />
<h2 class="text-info">Create New Book</h2>
<div class="border container" style="padding:40px;">
    <form method="post">
        <div class="text-danger" style="color:red;" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-lg-2">
                <label asp-for="Book.Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="Book.Name" class="form-control" />
            </div>
            <span asp-validation-for="Book.Name"></span>
        </div>
        <div class="form-group row">
            <div class="col-lg-2">
                <label asp-for="Book.Auther"></label>
            </div>
            <div class="col-6">
                <input asp-for="Book.Auther" class="form-control" />
            </div>
            <span asp-validation-for="Book.Auther"></span>
        </div>
        <div class="form-group row">
            <div class="col-lg-2">
                <label asp-for="Book.ISBN"></label>
            </div>
            <div class="col-6">
                <input asp-for="Book.ISBN" class="form-control" />
            </div>
            <span asp-validation-for="Book.ISBN"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-lg-2">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
            <div class="col-3 ">
                <a asp-page="Index" value="Create" class="btn btn-warning form-control">Back to List</a>

            </div>
        </div>
    </form>
</div>
@section Scripts{
<partial name="_ValidationScriptsPartial" />
}